body, h2, p {
	font-family: 'Montserrat', sans-serif, Calibri;
	font-size: 1.25rem;
}

h1 {
	color: #BD2C0F;
	font-family: 'Montserrat', sans-serif, Calibri;
	font-size: 2rem;
}
header {
	height: 50vh;
	position: relative;
	background: #101935 no-repeat center center fixed;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #EDF2EF;
}

main {
	color: #000000;
	text-align: center;
}

footer {
	background-color: #101935;
	color: #EDF2EF;
	line-height: 1.5;
	position: center;
}

.container, #about, #menu, #reservation, #info, #copyright {
	width: 85%;
	margin: 0 auto;
}

/* Header */

nav {
	font-size: 0.83rem;
}

nav a {
	margin: 1em;
	padding-bottom: 2px;
}

nav a.active {
	border-bottom: 4px solid #101935;
}

.container {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10px;
	transition: all .7s ease-in-out;
	box-sizing: border-box;
}

.container.fixed_menu {
	background-color: #BD2C0F;
	border-bottom: 1px solid #EDF2EF;
	width: 100%;
	position: fixed;
	top: 0%;
	padding: 10px 20px;
	transition: all .7s ease-in-out;
	z-index: 5;
}

.menu_icon {
	display: none;
	cursor: pointer;
}

.gradient {
	width: 100%;
	height: 200px;
	background: linear-gradient(to bottom, #0e131c, transparent);
}

.welcome_container {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	color: #f9f9f9;
}

.welcome_container_2 {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #f9f9f9;
}

.highlight {
	color: #BD2C0F;
	font-family: 'Allura', cursive, Calibri, sans-serif;
	text-transform: none;
	font-size: 80px;
}

.brand, .topic {
	letter-spacing: 15px;
	margin-top: -3em;
	font-weight: 900;
	font-size: 2.18rem;
}

header .symbol {
	color: #BD2C0F;
	font-size: 1.25rem;
	display: block;
	position: relative;
	margin-top: -0.31em;
	margin-bottom: 0.31em;
}

x-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.45; 
}


header .symbol:before, header .symbol:after {
	content: "";
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 40%;
	background-color: #f9f9f9;
}

header .symbol:before {
	margin-right: 0.625em;
	left: 0;
}

header .symbol:after {
	margin-left: 0.625em;
	right: 0;
}


header h2 {
	font-size: 1rem;
	letter-spacing: 5px;
}

/* Main */

section#about, section#menu, section#reservation {
	margin-top: 3.125em;
	margin-bottom: 2.5em;
}

.content {
	box-sizing: border-box;
	padding: 1.875em;
}

.content h1 {
	font-size: 2.18rem; 
	color: #101935;
}

.content h2 {
	margin-top: 0.625em;
}


.content p {
	line-height: 1;
	font-weight: bold;
}

#menu .img_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 40px 40px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 580px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/* Dividers */

.divider {
	height: 70vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.divider .topic {
	color: #f9f9f9;
}

main section:nth-of-type(1) {
	background: #24324a url(../image/sandwiches.jpg) no-repeat center center fixed;
	background-size: cover;
}

main section:nth-of-type(3) {
	background: #24324a url(../image/haleem.jpg) no-repeat center center fixed;
	background-size: cover;
}

.blink span{
		width:13vw;
		height: 7vh;
	    background-color: #101935;
		padding: 1em;	
		text-align: center;
		line-height: 7vh;
	}
	span{
		font-size: 1.56rem;
		font-family: sans-serif;
		color: #EDF2EF;
		animation: blink 2s linear infinite;
	}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

/* Footer */

.copyright_container {
	width: 100%;
	background-color: #BD2C0F;
}

#info {
	display: flex;
	justify-content: center;
	min-height: 27.7vh;
}

#info h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1rem;
}

#info p {
	font-size: 0.8rem;
}

#info > div {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

#locations {
	width: 100%;
	display: flex;
	justify-content: center; 
}

#hours {
	width: 100%;
	display: flex;
	justify-content: center; 
}

.address_container, .open_container {
	margin-top: 1.25em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#copyright p {
	font-size: 0.75rem;
}

#copyright {
	min-height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	padding: 0 10px;
	font-size: 1.25rem;
}

#top {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	
	transform: translateX(-50%);
	background-color: #fff;
	color: #101935;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

#top p {
	font-size: 0.75rem;
}

#top a {
	color: #1B4F72;
}

p#arrow {
	transform: rotate(90deg);
	font-size: 1.125rem;
}

